body {
    display: flex;
    min-height: 100vh !important;
    flex-direction: column;
}

.layout-margin{
    margin-top: 80px;
    flex: 1;
}

.banner{
    min-height: 300px;
    background: #F9FBFC;
    border-radius: 10px;
}

.inner-banner{
    min-height: 300px;
}

.widget-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.daftar-artikel{
    padding-top: 20px;
    padding-bottom: 20px;
}
